@model IEnumerable<GroupViewModel>

<ul>
	@* 此处的Model指的就是第一行的对象 *@
	@* 此处的item 指的就是第一行的对象中的每一个元素 *@
	@foreach (var item in Model)
	{
		@* 如果要调用变量时需要在前面加上@符号 *@
		<li>
			@item.Name
			<a asp-controller="Groups" asp-action="Details" asp-route-id="@item.Id">Edit</a>
		</li>
	}
</ul>

<a asp-controller="Groups" asp-action="Create">Create</a>

